@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: none;
    height: 6px;
    background-color: rgb(117, 117, 117);
}

nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}
nav h1{
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

nav .onglets{
    margin-top: 2px;
    margin-left: 60%;
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 7px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../image/acceuil1.jpg');
    background-size: cover;
    color: #fff;
    padding: 40px;
}
header h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
header button{
    padding: 10px 20px;
    background-color: #fff;
    color:#000;
    border:none;
    margin-bottom: 30px;
    outline:none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4px;
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color:rgb(70, 70, 70);
   color:#fff;
}
.main .content .card .right img{
    height:400px;
    width: 500px;
    margin-top: 5px;
}

 

 /* articles */

 .section-tot {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
 }

 .section-tot::before {
     content: "";
     position: absolute;
     background-color: rgb(100, 100, 100);
     width: 50px;
     height: 7px;
     
 }

.articles{
    margin-top: 30px;
  }
  .articles .article{
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 30px;
  }
  .articles .article .left img{
    height: 300px;
    width: 500px;
  }
  .articles .article .right {
    margin-left: 40px;
    max-width: 50%;
  }
  .articles .article .right p.date{
    color: #7f7e7e;
  }
  .articles .article .right p.description{
    color: #2d2d2d;
  }


footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 200px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img{
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}

 /* contact */

 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

 form .separation {
   width: 100%;
   height: 1px;
   background-color: #5f5f5f;
 }

 form .corps-formulaire {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 30px;
 }

 form .corps-formulaire .groupe {
   position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
   margin-top: 20px;
   display: flex;
   flex-direction: column;
 }

 form .corps-formulaire .gauche .groupe input {
   margin-top: 5px;
   padding: 10px 5px 10px 30px;
   border: 1px solid #c9c9c9;
   outline-color: #757575;
   border-radius: 5px;
 }

 form .corps-formulaire .gauche .groupe i {
   position: absolute; /* positionné par rapport à son parent le plus proche positionné */
   left: 0;
   top: 25px;
   padding: 9px 8px;
   color: #5c5c5c;
 }

 form .corps-formulaire .droite {
   margin-left: 40px;
 }

 form .corps-formulaire .droite .groupe {
   height: 100%;
 }

 form .corps-formulaire .droite .groupe textarea {
   margin-top: 5px;
   padding: 10px;
   background-color: #f1f1f1;
   border: 2px solid #5e5e5e;
   outline: none;
   border-radius: 5px;
   resize: none;
   height: 72%;
 }

 form .pied-formulaire button {
   margin-top: 10px;
   background-color: #696969;
   color: white;
   font-size: 15px;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   outline: none;
   cursor: pointer;
   transition: transform 0.5s;
 }
 form .pied-formulaire button:hover {
   transform: scale(1.05);
 }
 
 @media screen and (max-width: 920px) 
 
   form .corps-formulaire .droite {
     margin-left: 0px;
}

 /* pied de page */

 footerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
 }
 
 footerr a.cgv {
     text-decoration: none;
     color: black;
 }
 
 .copyright {
    text-decoration: none;
}










