
body {
    margin: 0 auto;
}


 /* tete de page */

header.header {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255)
}

header.header img {
    width: 100px;
}

section.top-page {
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

hr {
    border: none;
    height: 3px;
    background-color: rgb(0, 0, 0);
}

/* page de bienvenue (landing page)*/

.big-title {
    position: left;
    text-align: center;
  }
  
.big-title img {
    width: 100%;
    height: 750px;
  }
  
.texte-superpose {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.texte-superpose h1 {
    font-size: 40px;
  }
  

/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 50px;
}

nav.nav li {
    color: white;
}

/* service */

.service {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.services-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-icon {
    font-size: 50px;
    color: green;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}

 /*console xbox*/

body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.green-line {
    border: 2px solid green;
}

.consoles-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.console {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.console img {
    width: 300px; /* Largeur souhaitée pour toutes les images */
    height: 270px; /* Hauteur souhaitée pour toutes les images */
    margin-bottom: 10px;
}

h2 {
    font-size: 26px;
}

p {
    font-size: 16px;
    color: green;
}

.titt {
    font-size: 18px;
    color: black;
}

 /* xbox serie x*/

 .section-tot {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
 }

 .section-tot::before {
     content: "";
     position: absolute;
     background-color: green;
     width: 50px;
     height: 7px;
 }

 .image-container {
    display: flex;
    justify-content: center;
}

.image-container div {
    text-align: center;
    margin: 0 20px; /* Espace entre les images */
    flex: 1;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-caption {
    margin-top: 10px;
    text-align: center;
}

.image-caption:first-child {
    font-weight: bold;
    text-align: left;
}

.bet-item {
    margin: 40px;
}

.best-consoless {
    background-color: red;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.console-box {
    background-size: cover;
    background-position: center;
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.console1 {
    background-image: url(../image/jeu1.jpg);
}

.console2 {
    background-image: url(../image/jeu2.jpg);
}

.console3 {
    background-image: url(../image/jeu3.jpg);
}

.console4 {
    background-image: url(../image/jeu4.jpg);
}

.console5 {
    background-image: url(../image/jeu5.jpg);
}

 /* xbox serie S */

 .console-boxe {
    background-size: cover;
    background-position: ;
    min-width: 350px;
    height: 500px;
    flex: 1;
}

 .console6 {
    background-image: url(../image/jeu6.jpg);
}

.console7 {
    background-image: url(../image/jeu7.jpg);
}

.console8 {
    background-image: url(../image/jeu8.jpg);
}

.console9 {
    background-image: url(../image/jeu9.jpg);
}

.console10 {
    background-image: url(../image/jeu10.jpg);
}

 /* xbox one */

 .console-boxx {
    background-size: cover;
    background-position: ;
    min-width: 350px;
    height: 500px;
    flex: 1;
}

 .console11 {
    background-image: url(../image/);
}

.console12 {
    background-image: url(../image/);
}

.console13 {
    background-image: url(../image/);
}

.console14 {
    background-image: url(../image/);
}

.console15 {
    background-image: url(../image/);
}

 /* accessoire */

 .containerr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlle {
    text-align: center;
}

.image-containerr {
    display: flex;
    justify-content: center;
}

.image-containerr img {
    max-width: 100%;
    height: auto;
}

 /* pied de page */

 footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
 }
 
 footer a.cgv {
     text-decoration: none;
     color: black;
 }
 
 .copyright {
    text-decoration: none;
}
